# System & Development
node_modules
.sass-cache
.DS_Store
.gitattributes
.ftpquota
Thumbs.db
error_log

# Large/disallowed file types
*.3gp
*.3gpp
*.asf
*.asx
*.avi
*.bin
*.deb
*.dll
*.dmg
*.exe
*.flv
*.gz
*.hqx
*.img
*.iso
*.kar
*.m4a
*.m4v
*.mid
*.midi
*.mng
*.mov
*.mp3
*.mp4
*.mpeg
*.mpg
*.msi
*.msm
*.msp
*.ogg
*.ra
*.tar
*.webm
*.wmv
*.zip